.flex-container {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.flex-item {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    height: 6rem;
    transition: all .5s ease-in-out;
    color: white;
}

.flex-item p {
    font-size: 1.5rem;
    margin: 0;
}

.flex-item.positive {
    background: linear-gradient(to right, hsl(152, 69%, 30%), hsl(152, 69%, 40%), hsl(152, 69%, 40%), hsl(152, 69%, 30%));
    transition: all .15s ease-in-out;
}

.flex-item.negative {
    background: linear-gradient(to right, hsl(354, 70%, 44%), #dc3545, #dc3545, hsl(354, 70%, 44%));
}

.flex-container .card {
    flex: 1 1 100%;
    min-width: min-content;
}

@media (min-width: 650px) {
    .flex-item {
        flex: 1 1 calc(50% - 0.5rem);
    }
}

@media (min-width: 900px) {
    .flex-item {
        flex: 1 1 calc(25% - 0.75rem);
    }

    .flex-container .card {
        flex: 1 1 calc(50% - 0.5rem);
    }
}