* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f9fa;
}

/* Used at every table */
td .btn {
    border: 0;
    background-color: transparent;
}

/* Used at Pages/MyNavbar.jsx */
.side-bar {
    position: relative;
    right: auto;
    padding-top: 3vh;
    min-height: 100vh;
    width: 80px;
    background-color: hsl(226, 100%, 50%);
    background: linear-gradient(to right, hsl(226, 100%, 40%), hsl(226, 100%, 60%));
    overflow: hidden;
    transition: .3s;
    z-index: 1000;
}

.nav-link {
    display: flex;
    align-items: flex-start;
    color: #f8f9fa;
    font-size: larger;
    gap: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.side-bar:hover {
    width: 250px;
}

.side-bar:not(:hover) .nav-link span {
    display: none;
}

h2.nav-link {
    padding: auto;
}

.nav-link:hover {
    background-color: hsl(226, 100%, 30%);
    color: hsl(210, 17%, 85%);
}

/* Used at Pages/Products/ProductsFilter.jsx */
.badge {
    font-size: medium;
    margin-right: 5px;
}

.badge .btn-x {
    margin-left: 5px;
    border: 0;
    height: auto;
    width: auto;
    background-color: transparent;
    color: #dc3545;
    font-weight: bold;
    transition: .15s all ease-in-out;
}

form button {
    white-space: nowrap;
}

.badge .btn-x:hover {
    color: white;
}

/* Used at ActionButtons/SalesButtons */

.sale-modal .modal-content {
    width: max-content;
}

/* Used at Pages/Dashboard/DashboardContent */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 18vw);
    justify-content: space-between;
}

.grid-container .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

.grid-item.sales {
    background: linear-gradient(to right, #198754, hsl(152, 69%, 41%), hsl(152, 69%, 41%), #198754);
}

.grid-item.expenses{
    background: linear-gradient(to right, hsl(354, 70%, 44%), #dc3545, #dc3545, hsl(354, 70%, 44%));
}