* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f9fa;
}

/* Used at every page */
.margin-left {
    margin-left: 100px;
}

/* Used at every table */
td .btn {
    border: 0;
    background-color: transparent;
}

/* Used at Pages/MyNavbar.jsx */
.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    padding-top: 3vh;
    min-height: 100vh;
    height: 80vh;
    width: 80px;
    background-color: hsl(226, 100%, 50%);
    background: linear-gradient(to right, hsl(226, 100%, 40%), hsl(226, 100%, 60%));
    overflow: hidden;
    transition: .3s;
    z-index: +1;
}

.nav-link {
    display: flex;
    align-items: flex-start;
    color: #f8f9fa;
    font-size: larger;
    gap: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.nav:hover {
    width: 250px;
}

.nav:not(:hover) .nav-link span {
    display: none;
}

h2.nav-link {
    padding: auto;
}

.nav-link:hover {
    background-color: hsl(226, 100%, 30%);
    color: hsl(210, 17%, 85%);
}

/* Used at Pages/Products/ProductsFilter.jsx */
.badge {
    font-size: medium;
    margin-right: 5px;
}

.badge .btn-x {
    margin-left: 5px;
    border: 0;
    height: auto;
    width: auto;
    background-color: transparent;
    color: #dc3545;
    font-weight: bold;
    transition: .15s all ease-in-out;
}

form button {
    white-space: nowrap;
}

.badge .btn-x:hover {
    color: white;
}

/* Used at ActionButtons/SalesButtons */

.sale-modal .modal-content {
    width: max-content;
}
